<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteOne">
    <parameter name="browser" value="chrome-suite" />
    <test name="TestOne">
        <parameter name="browser" value="chrome-test" />
        <classes>
            <class name="scripts.TestOne">
            </class>
        </classes>
    </test>
</suite>